<table>
    <thead>
        <tr>
           
            <th>First name</th>
           
        </tr>
    </thead>
    <tbody>
        
        <% results.forEach(row=>{ %>
            <tr>
                
                <td><%=row.first_name %></td>
                
            </tr>
        <%}); %>
    </tbody>
</table>